.container {
    position:relative;
    z-index:0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.npbtn{
  display:flex;
  margin: 50px 10%;
  justify-content: center;
}

.npbtn i{
  font-size: 65px;
  transition: 0.4s ease-in;
  background-color: black;
  border:8px solid black;
  border-radius: 50%;
  color: red;
}

.npbtn i:hover{
    color: white;
}

@media only screen and (max-width: 820px) {
  .container {
    position:relative;
    z-index:0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
}